@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<h4>
    This application has been created to provide an
    easier way to manage information for those vendors
    who have a hard time organizing their data.

    Spend less time with paper and use it for your benefit.
    This tool will provide you with facilites for your bussines!
</h4>
